---
layout: page
title: Regioni
permalink: /regions/
image: 
---

<div class="container">
    <h2>
        Esplora i tuor suddivisi per regione
    </h2>

    {% for page in site.pages %}
        {% unless page.name == 'about.md' or page.name == 'tags.html' or page.name == 'elements.html' or page.name == 'davide.md' or page.name == 'mattia.md' or page.name == 'regions.html' %}
            {% if page.title %}
                <a href="{{ page.url | prepend: site.baseurl }}">
                    {{ page.title }}
                </a>
                <br />
            {% endif %}
        {% endunless %}
    {% endfor %}
</div>
