---
layout: page
title: Regions
permalink: /regions/
image: 
---

<!--<style>
    .hide {
        display: none;
    }
</style>-->

<class="container">
    <p>
        Explore the tours categorized by region.
    </p>

    <div class="row">
        <!--<div class="col col-6">
            {% for page in site.pages %}
                {% unless page.name == 'about.md' or page.name == 'tags.html' or page.name == 'elements.html' or page.name == 'davide.md' or page.name == 'mattia.md' or page.name == 'regions.html' %}
                    {% if page.title %}
                        <a href="{{ page.url | prepend: site.baseurl }}">
                            {{ page.title }}
                        </a>
                        <br />
                    {% endif %}
                {% endunless %}
            {% endfor %}
        </div>-->
        <div class="col col-8 col-d-8 col-t-12">
            {% include italy-map.html %}
        </div>
        {% include regions-preview.html %}
    </div>
</div>
