---
layout: default
image: '{{ site.baseurl }}/images/logo/logo.png'
slideshow_images: [
    images/social/baldo1.png,
    images/social/baldo2.png,
    images/social/baldo3.png,
    images/social/bici_asolo.png,
    images/social/elba1.png,
    images/social/elba2.png,
    images/social/elba4.png,
    images/social/lessinia1.png,
    images/social/lessinia2.png,
    images/social/recoaro1.png
]
---

<div class="container">
    <!-- Swiper -->
    <div class="swiper mySwiper row animate">
        <div class="swiper-wrapper">
            {% for slideshow_image in page.slideshow_images %}
            <div class="swiper-slide">
                <img src="{{slideshow_image}}" loading="lazy" />
            </div>
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="row">
        <h2 class="description-margin">
            We're excited to announce that bikeadventureitaly.it is currently under development.
        </h2>
        <p class="description-margin">
            While we're working hard to bring you the best experience possible, please bear with us as we fine-tune our website to create the ultimate platform for biking enthusiasts across Italy. <br /><br />

            As with any website in development, there may be bugs or features that are still being implemented. We apologize in advance for any inconvenience this may cause and assure you that our team is diligently working to address any issues that arise. While we're working hard to bring you the best experience possible, please bear with us as we fine-tune our website to create the ultimate platform for biking enthusiasts across Italy. <br /><br />

            Our mission is simple yet ambitious: to curate the largest collection of bike routes throughout Italy. Whether you're a casual rider exploring the scenic countryside or a seasoned cyclist seeking challenging trails, our platform aims to provide a comprehensive resource for discovering, sharing, and experiencing the beauty of Italy on two wheels. <br /><br />

            Happy cycling! :D
        </p>
        <!--<p class="description-margin">
            {{site.description}}
        </p>-->
    </div>
    <div class="row animate">
        {% if site.posts.size > 0 %}
            {% for post in paginator.posts %}
                {% include article.html %}
            {% endfor %}
        {% endif %}
    </div>
</div>

{% include pagination.html %}

<div class="container">
    <iframe src="https://www.komoot.com/it-it/collection/2700274/embed" width="100%" height="720" frameborder="0" scrolling="no"></iframe>
</div>

{% include section-tags.html %}
