---
layout: default
image: '/images/logo/logo.png'
---

<div class="container">
    <!-- Swiper -->
    <div class="swiper mySwiper row animate swiper-div">
            <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="images/social/baldo1.png" loading="lazy" />
            </div>
            <div class="swiper-lazy-preloader"></div>
            <div class="swiper-slide">
                <img src="images/social/baldo2.png" loading="lazy" />
            </div>
            <div class="swiper-lazy-preloader"></div>
            <div class="swiper-slide">
                <img src="images/social/baldo3.png" loading="lazy" />
            </div>
            <div class="swiper-lazy-preloader"></div>
            <div class="swiper-slide">
                <img src="images/social/bici_asolo.png" loading="lazy" />
            </div>
            <div class="swiper-lazy-preloader"></div>
            <div class="swiper-slide">
                <img src="images/social/elba1.png" loading="lazy" />
            </div>
            <div class="swiper-lazy-preloader"></div>
            <div class="swiper-slide">
                <img src="images/social/elba2.png" loading="lazy" />
            </div>
            <div class="swiper-lazy-preloader"></div>
            <div class="swiper-slide">
                <img src="images/social/elba4.png" loading="lazy" />
            </div>
            <div class="swiper-lazy-preloader"></div>
            <div class="swiper-slide">
                <img src="images/social/lessinia1.png" loading="lazy" />
            </div>
            <div class="swiper-lazy-preloader"></div>
            <div class="swiper-slide">
                <img src="images/social/lessinia2.png" loading="lazy" />
            </div>
            <div class="swiper-lazy-preloader"></div>
            <div class="swiper-slide">
                <img src="images/social/recoaro1.png" loading="lazy" />
            </div>
            <div class="swiper-lazy-preloader"></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="row animate">
        {% if site.posts.size > 0 %}
            {% for post in paginator.posts %}
                {% include article.html %}
            {% endfor %}
        {% endif %}
    </div>
</div>

{% include pagination.html %}

{% include section-tags.html %}
