<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>