<div id="abruzzo" class="col col-4 col-d-4 col-t-12 hide">
    <h3>
        Abruzzo
    </h3>
    <p>
        An extraordinary region that offers a unique mix of breathtaking landscapes, millennia-old traditions, and culinary authenticity.
    </p>
    <img src="../images/social/baldo1.png">
    <div class="show-region-preview">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>