<div id="italy-description" class="col col-4 col-d-4 col-t-12 show-content">
    <h3 class="region-name">
        Italy
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 29 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 401h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 5451km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 96.670m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="https://www.komoot.com/it-it/collection/2779447/-italy" target="_blank">
            <button class="button region-button">
                Italy's tours
            </button>
        </a>
    </div>
</div>
<div id="abruzzo-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Abruzzo
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 49h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 550km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/abruzzo.html">
            <button class="button region-button">
                Abruzzo's tours
            </button>
        </a>
    </div>
</div>
<div id="basilicata-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Basilicata
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 0 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 0h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 0km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 0m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/basilicata.html">
            <button class="button region-button">
                Basilicata's tours
            </button>
        </a>
    </div>
</div>
<div id="calabria-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Calabria
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 1 tour<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 37.5h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 545km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 9.660m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/calabria.html">
            <button class="button region-button">
                Calabria's tours
            </button>
        </a>
    </div>
</div>
<div id="campania-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Campania
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 0 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 0h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 0km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 0m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/campania.html">
            <button class="button region-button">
                Campania's tours
            </button>
        </a>
    </div>
</div>
<div id="emilia-romagna-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Emilia Romagna
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 1 tour<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 11.5h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 120km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 3.030m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/emilia-romagna.html">
            <button class="button region-button">
                Emilia Romagna's tours
            </button>
        </a>
    </div>
</div>
<div id="friuli-venezia-giulia-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Friuli Venezia Giulia
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 0 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 0h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 0km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 0m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/friuli-venezia-giulia.html">
            <button class="button region-button">
                Friuli Venezia Giulia's tours
            </button>
        </a>
    </div>
</div>
<div id="lazio-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Lazio
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 0 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 0h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 0km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 0m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/lazio.html">
            <button class="button region-button">
                Lazio's tours
            </button>
        </a>
    </div>
</div>
<div id="liguria-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Liguria
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 0 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 0h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 0km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 0m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/liguria.html">
            <button class="button region-button">
                Liguria's tours
            </button>
        </a>
    </div>
</div>
<div id="lombardia-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Lombardia
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 2 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 13.5h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 148km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 3.760m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/lombardia.html">
            <button class="button region-button">
                Lombardia's tours
            </button>
        </a>
    </div>
</div>
<div id="marche-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Marche
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 0 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 0h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 0km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 0m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/marche.html">
            <button class="button region-button">
                Marche's tours
            </button>
        </a>
    </div>
</div>
<div id="molise-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Molise
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 0 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 0h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 0km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 0m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/molise.html">
            <button class="button region-button">
                Molise's tours
            </button>
        </a>
    </div>
</div>
<div id="piemonte-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Piemonte
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 0 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 0h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 0km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 0m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/piemonte.html">
            <button class="button region-button">
                Piemonte's tours
            </button>
        </a>
    </div>
</div>
<div id="puglia-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Puglia
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 0 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 0h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 0km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 0m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/puglia.html">
            <button class="button region-button">
                Puglia's tours
            </button>
        </a>
    </div>
</div>
<div id="sardegna-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Sardegna
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 3 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 65h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 750km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 13.400m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/sardegna.html">
            <button class="button region-button">
                Sardegna's tours
            </button>
        </a>
    </div>
</div>
<div id="sicilia-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Sicilia
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 4 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 113h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 1887km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 34.760m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/sicilia.html">
            <button class="button region-button">
                Sicilia's tours
            </button>
        </a>
    </div>
</div>
<div id="toscana-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Toscana
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 1 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 11.5h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 120km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 3.030m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/toscana.html">
            <button class="button region-button">
                Toscana's tours
            </button>
        </a>
    </div>
</div>
<div id="trentino-alto-adige-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Trentino Alto Adige
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 3 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 13h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 161km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 3.300m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/trentino-alto-adige.html">
            <button class="button region-button">
                Trentino Alto Adige's tours
            </button>
        </a>
    </div>
</div>
<div id="umbria-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Umbria
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 0 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 0h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 0km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 0m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/umbria.html">
            <button class="button region-button">
                Umbria's tours
            </button>
        </a>
    </div>
</div>
<div id="valle-d-aosta-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Valle d'Aosta
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 0 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 0h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 0km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 0m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/valle-d-aosta.html">
            <button class="button region-button">
                Valle d'Aosta's tours
            </button>
        </a>
    </div>
</div>
<div id="veneto-description" class="col col-4 col-d-4 col-t-12 show-content hide-content">
    <h3 class="region-name">
        Veneto
    </h3>
    <div id="desc-container">
        <div id="wrap">
            <div id="content">
                <p>
                    <ion-icon name="map-outline"></ion-icon> + 15 tours<br />
                    <ion-icon name="stopwatch-outline"></ion-icon> + 107h<br />
                    <ion-icon name="swap-horizontal-outline"></ion-icon> + 1.411km<br />
                    <ion-icon name="swap-vertical-outline"></ion-icon> + 17.360m<br />
                </p>
            </div>
        </div>
    </div>
    <div class="region-preview-button">
        <a href="../regions-pages/veneto.html">
            <button class="button region-button">
                Veneto's tours
            </button>
        </a>
    </div>
</div>
