@use '../0-settings' as *;
@use '../1-tools' as *;
@use '../2-base' as *;

/* Contact */
.contact-head {
  margin-bottom: 32px;
}

.form__group {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__input {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  border: 2px solid var(--green);
  border-radius: 2px;
  outline: 0;
  transition: .25s ease-in-out;
  resize: vertical;
  color: var(--dark-green);
  background-color: var(--dark-green);

  &::placeholder {
    color: var(--dark-green);
  }

  &:focus {
    color: var(--dark-green);
  }
}