@use '../0-settings' as *;
@use '../1-tools' as *;
@use '../2-base' as *;

/* Gallery */
.gallery-box {
    margin: 32px 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    grid-gap: 10px;

    .gallery__image {
        img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}