@use '../0-settings' as *;
@use '../1-tools' as *;

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    overflow-x: hidden;
    color: var(--dark-grey);
    background-color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media only screen and (max-width: $mobile) {
        font-size: 18px;
    }
}

*::selection {
    color: var(--white);
    background-color: var(--dark-green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    letter-spacing: $heading-letter-spacing;
    color: var(--dark-green);
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

blockquote {
    position: relative;
    margin: 40px 0;
    padding-left: 26px;
    font-size: 24px;
    line-height: 1.7;
    font-weight: 900;
    border-left: 4px solid var(--dark-green);
    color: var(--dark-green);

    p {
        margin-bottom: 10px;
    }

    cite {
        display: inline-block;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        color: var(--dark-green);

    }

    @media only screen and (max-width: $mobile) {
        font-size: 21px;
    }
}

pre {
    overflow: auto;
    padding: 15px;
    margin-bottom: 0;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    color: var(--dark-green);
}

img,
.lightense-wrap {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

img,
.lightense-wrap,
.gallery {
    &+em {
        display: block;
        margin-top: 20px;
        font-size: 12px;
        line-height: 22px;
        font-style: normal;
        font-weight: normal;
        text-align: center;
    
        a {
            font-weight: 500;
            border-bottom: 1px solid var(--green);
            transition: $global-transition;
        }
    
        @media only screen and (max-width: $mobile) {
            margin-top: 12px;
        }
    }
}

a {
    text-decoration: none;
    color: var(--dark-green);
    transition: $global-transition;

    &:hover {
        color: var(--orange);
    }
}

hr {
    width: 100%;
    height: 1px;
    margin: 60px 0;
    border: 0;
    background: var(--dark-green);
}

.table-container {
    display: block;
    max-width: 100%;
    overflow-x: auto;
}

table {
    font-size: 12px;
    color: var(--dark-green);
    width: 100%;
    border-width: 1px;
    color: var(--dark-green);
    border-collapse: collapse;
    color: var(--dark-green);
}

table th {
    padding: 10px;
    font-size: 16px;
    text-align: left;
    border: 1px solid var(--light-grey);
    color: var(--dark-green);
    font-weight: 700;
    background-color: var(--light-grey);
}

table tr {
    background-color: var(--light-grey);
    transition: all .3s ease;
    &:nth-child(even) {
        background-color: transparent;
    }
}

table td {
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--dark-green);
}

.button {
    display: inline-block;
    padding: 20px 26px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .25s;
    color: var(--white);
    background: var(--dark-green);

    &--primary {
        color: var(--white);
        background-color: var(--green);

        &:hover {
            background: var(--dark-green);
        }
    }

    &--big {
        display: block;
        width: 100%;
    }
}

.lazy {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.lazy.loaded {
    opacity: 1;
}

.lightense-backdrop {
    background-color: var(--white) !important;
}


/* swiper css */
.swiper {
    width: 100%;
    height: 100%;
    margin: 32px 0px;
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
    border-radius: 10px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* komoot css */
.maps-container {
    margin-top: 32px;
    margin-bottom: 32px;
}


/* additional css */
.description-margin {
    margin-left: 24px;
    margin-right: 24px;
}
