/* Color Scheme */

:root {
    --white: #f5f4ec;
    --light-grey: #b2b4b1;
    --dark-grey: #464646;
    --orange: #d78e1b;
    --dark-orange: #8f6522;
    --green: #8eb5ac;
    --dark-green: #1c6b58;

    --background-color: var(--white);
    --background-alt-color: var(--dark-green);
    
    --text-color: var(--dark-grey);
    --text-alt-color: var(--dark-green);

    --heading-font-color: var(--green);

    --link-color: var(--orange);
    --link-color-hover: var(--dark-orange);

    --button-color: var(--light-grey);
    --button-background-color: var(--green);
    --button-background-hover: var(--dark-green);

    --border-color: var(--green);
    --border-color-alt: var(--dark-green);

    --th-color: var(--white);
    --tr-color: var(--white);

    --syntax-highlighting-background: var(--dark-grey);

    --social-color: var(--orange);
    --social-hover-color: var(--dark-orange);
}
