/* Color Scheme */

:root {
    --white: #f5f4ec;
    --light-grey: #b2b4b1;
    --dark-grey: #464646;
    --orange: #d78e1b;
    --dark-orange: #8f6522;
    --green: #8eb5ac;
    --dark-green: #1c6b58;
}
