/* Color Scheme */

:root {
    --brand-color: #1d2a10;
    --white: #fff;
    --dark-white: #faf1e4;
    --light-orange: #cd8a39;
    --light-green: #CEDEBD;
    --green: #9EB384;
    --dark-green: #435334;
    --orange: #a24502;
    --gray: #9e9e9e;

    --background-color: var(--white);
    --background-alt-color: var(--light-green);
    
    --text-color: var(--dark-green);
    --text-alt-color: var(--light-orange);
    
    --heading-font-color: var(--dark-green);

    --link-color: var(--dark-green);
    --link-color-hover: var(--dark-green);

    --button-color: var(--white);
    --button-background-color: var(--brand-color);
    --button-background-hover: var(--orange);

    --border-color: var(--light-green);
    --border-color-alt: var(--light-green);

    --th-color: var(--dark-white);
    --tr-color: var(--dark-white);

    --syntax-highlighting-background: var(--dark-white);

    --social-color: var(--light-orange);
    --social-hover-color: var(--orange);
}
