---
layout: default
---

<div class="post-head">
    <div class="container">
        <div class="row">
            
            {% if page.video_embed %}
            <div class="col col-12">
                <div class="post-video">
                    <div class="post-video__wrap">
                        <iframe src="{{ page.video_embed }}" loading="lazy" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            {% else %}

            {%if page.image %}
            <div class="col col-6 col-d-12">
                <div class="post-image">
                    <img class="lazy" data-src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
                </div>
            </div>
            {%endif %}

            {% endif %}
            
            {% if page.video_embed %} {% assign videoInfo = 'post__info-video' %} {% endif %}
            <div class="col {% if page.video_embed %}col-12{% else %}col-6 col-d-12{% endif %}">
                <div class="post__info {{videoInfo}}">
    
                    {% if page.tags.size >= 1 %}
                        <div class="post__tags">
                            {% for tag in page.tags %}
                                <a href="{{ site.baseurl }}/tags#{{ tag }}" class="post__tag">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
    
                    <h1 class="post__title">{{ page.title | escape }}</h1>
    
                    <div class="post__meta">
                        <a href="{{site.baseurl}}/about/" class="post__author-image">
                            <img class="lazy" data-src="{{page.author.avatar}}" alt="{{page.author.name}}">
                        </a>

                        <div class="post__meta-bottom">
                            <a class="post__author" href="{{site.baseurl}}/about/">{{page.author.name}}</a>
                            <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
                            <div>
                                <span class="post__reading-time">
                                {% include reading-time.html %}</span>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- begin post -->
<div class="container animate">

    <article class="post">

        <div class="post__content">
            {{ content }}
        </div>

    </article>

    {% if page.slideshow_images %}
    <!-- Swiper -->
    <div class="swiper mySwiper row animate">
        <div class="swiper-wrapper">
            {% for slideshow_image in page.slideshow_images %}
            <div class="swiper-slide">
                <img src="{{slideshow_image}}" loading="lazy" />
            </div>
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
    {% endif %}
</div>
<!-- end post -->

{% include related-posts.html %}

{% if site.disqus-identifier %}
    <div class="container">
        <div class="row">
            <div class="col col-12">
                {% include disqus-comments.html %} 
            </div>
        </div>
    </div>
{% endif %}
